<!DOCTYPE HTML>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1"/>
        <title>ECG</title>
        <link rel="stylesheet" href="css/style.css" type="text/css" />
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
        <script language="javascript" type="text/javascript" src="libs/jquery-1.7.1.min.js"></script>
		<script language="javascript" type="text/javascript" src="libs/jquery.cookie.js"></script>
        <script language="javascript" type="text/javascript" src="libs/echarts.common.min.js"></script>
        
        <script language="javascript" type="text/javascript" src="js/websocket.js"></script>
        <script language="javascript" type="text/javascript" src="libs/angular.min.js"></script>
        <script language="javascript" type="text/javascript" src="libs/angular-cookies.min.js"></script>
        <script language="javascript" type="text/javascript" src="js/index.js"></script>
        
    </head>

    <body ng-app="indexApp">

    <div ng-controller="indexController">
        <h1 >ECG Client</h1>
        <button class="btn btn-xs btn-info" ng-click="skipToUpload()">go to manage measured data</button>
		<button class="btn btn-sm btn-success" ng-click="connectToGateway()">Connect Gateway</button>

        <div id="chatLog" ></div>
        
        <button id="scanDev">Scan</button>
        <br/>
        <select id="devList"></select>
        <br/>
        
        <button id="connDev">Connect</button>
        <br/>
        <select id="connlist"></select>
        <br/>
        <button id="disConn">Disconnect</button>
        
        <div id="ECG"></div>
		<div id="RR"></div>
        <div id="HR"></div>
		
		<button id="Histogram_button">Histogram</button>
		<button id="Poincare_button">Poincare plot</button>
		<button id="PSD_button">Power Spectral Density</button>
		
		<div id="RR_hist"></div>
		<table id="RR_hist_parameters">
            <tr>
			    <td>Mean RR (ms):</td><td id="mean_rr">000.00</td><td>Min RR (ms):</td><td id="min_rr">000.00</td>
                <td>Max RR (ms):</td><td id="max_rr">000.00</td><td>SDNN (ms):</td><td id="sd_rr">00.00</td>
		    </tr>
            <tr>
                <td>rMSSD (ms):</td><td id="r_MSSD">00.00</td><td>pNN50 (%):</td><td id="pNN50">0.00</td>
				<td>TINN:</td><td id="TINN">000.00</td><td>HRV Triangular Index:</td><td id="tindex">0.00</td>
            </tr>
        </table>
		
		<div id="HR_hist"></div>
		<table id="HR_hist_parameters">
            <tr>
			    <td>Mean HR (bpm):</td><td id="mean_hr">00.00</td><td>Mean HR (1/s):</td><td id="mean_hr_s">0.00</td>
				<td>SDHR (bpm):</td><td id="sd_hr">0.00</td>
			</tr>
        </table>
		
		<div id="Poincare"></div>
		<table id="Poincare_parameters">
            <tr>
			    <td>SD1 (ms):</td><td id="sd1">00.00</td><td>SD2 (ms):</td><td id="sd2">00.00</td>
				<td>SD1/SD2:</td><td id="sd1_sd2">0.0</td>
			</tr>
        </table>
		
		<div id="PSD"></div>
		<table id="PSD_parameters1">
            <tr>
                <td>Frequency range</td><td>Power (ms<sup>2</sup>)</td><td>Power (%):</td><td>Power (n.u.)</td>
			</tr>
            <tr>
                <td>VLF</td><td id="vlfPower">00000.000</td><td id="vlfPowerPerc">00.000</td>
            </tr>
            <tr>
                <td>LF</td><td id="lfPower">0000.000</td><td id="lfPowerPerc">0.000</td><td id="lfNorm">00.000</td>
            </tr>
            <tr>
                <td>HF</td><td id="hfPower">000.000</td><td id="hfPowerPerc">0.000</td><td id="hfNorm">00.000</td>
            </tr>
        </table>
		<table id="PSD_parameters2">
            <tr>
			    <td>LF/HF:</td><td id="lf_hf">00.00</td>
			</tr>
        </table>


    </div>
	    <script language="javascript" type="text/javascript" src="js/draw.js"></script>
    </body>

</html>
