<div>
    <div class="modal-header">
        <label>Manage Map of the User and Administrator</label>
    </div>
    <div class="modal-body">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="form-group-sm">
                        <div class="col-sm-3">
                            <select class="text-success form-control" ng-model="user" ng-options="user for user in users.username"></select>
                        </div>
                        <div class="btn-group btn-group-sm">
                            <button ng-click="newUser()" ng-mouseover="showNewAlert()" ng-mouseleave="closeNewAlert()" class="btn btn-info btn-sm">NEW</button>
                            <button ng-click="delUser()" ng-mouseover="showDelAlert()" ng-mouseleave="closeDelAlert()" class="btn btn-danger btn-sm">DELETE</button>
                        </div>
                        <label>{{manageInfo}}</label>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <input type="text" class="text-success"/>
                <input type="text"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>